# Dotfiles
.dockerignore
.env
.env.example
.eslintignore
.git
.github
.npmrc
.prettierignore
.prettierrc
.svelte-kit

# Modules & Outputs
build
bun.lockb
node_modules
coverage

# Other Unwanted Files
Dockerfile
docker-compose.yaml
README.md
eslint.config.js
